<template>
    <import from='./column'></import>
    <import from='./modal'></import>
    <section>
        <h2>layout2</h2>
        <button class="btn btn-info" click.delegate="showModal()">Toggle Modal</button>


        <a href="#myModal" class="btn btn-info" data-toggle="modal">Show Dialog...></a>

        <div id="myModal" class="modal fade ${ showing ? 'in':'' }" show.bind="showing">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Confirmation</h4>
                    </div>
                    <div class="modal-body">
                        <p>Do you want to save changes you made to document before closing?</p>
                        <p class="text-warning"><small>If you don't save, your changes will be lost.</small></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>