<template>
    <import from='./column'></import>
    <import from='./modal'></import>
    <section>
        <h2>${heading}</h2>
        <div class="container-fluid">
            <form class="col-sm-2">
                <div class="form-group" show.bind="showing">
                    <label>Choose # of Columns</label>
                    <select class="form-control" selected-item.two-way="selectedColumns">
                        <option repeat.for="option of availableColumns" value.bind="option" model.bind="option">${option.name}</option>
                    </select>
                </div>
            </form>
            <div class="col-sm-10" with.bind="selectedColumns">
                <div class="row">
                    <compose view-model="./column" model.bind="column" repeat.for="column of selectedColumns.columns"></compose>
                </div>
            </div>
        </div>
        <button class="btn btn-info" click.delegate="showModal()">Toggle Modal</button>
        <div show.bind="showing" class="modal fade ${ showing ? 'in':'' }" style="display: block;">
            <compose view-model="./modal" showing.bind="showing" model.bind="{ showing: showing, toggle: showModal }"></compose>
        </div>
    </section>
</template>