<template>
    <import from="./multi-level-menu-helper"></import>
    <section>
        <div class="page-host">
            <h2>${router.config.title}</h2>
            <div>
                <div class="col-md-2">
                    <multi-level-menu-helper isNavigating.bind="router.isNavigating" router.bind="router"></multi-level-menu-helper>
                    <ul class="well nav nav-pills nav-stacked">
                        <li repeat.for="row of router.navigation" class="${row.isActive ? 'active' : ''}">
                            <a href.bind="row.href">${row.title}</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-10" style="padding: 0">
                    <router-view></router-view>
                </div>
            </div>
        </div>
    </section>
</template>