<template>
    <require from="./multi-level-menu-helper.js"></require>
    <section>
        <div class="page-host">
            <h2>Multi-Level Menu Sample</h2>
            <h3><a href="http://github.com/cmichaelgraham/aurelia-typescript/tree/master/multi-level-menu">Visit Project on GitHub</a></h3>
            <div>
                <div class="col-md-2">
                    <multi-level-menu-helper router.bind="router"></multi-level-menu-helper>
                    <ul class="well nav nav-pills nav-stacked">
                        <li repeat.for="row of router.navigation" class="${row.isActive ? 'active' : ''} ${row.settings.show ? '' : 'hidden'}">
                            <a href.bind="row.href">${row.title}</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-10" style="padding: 0">
                    <router-view></router-view>
                </div>
            </div>
        </div>
    </section>
</template>