<template>
    <section>
        <h2>on page item-1-2.html</h2>
        <p>this sample shows how to set up a single router that has an inherant hierarchy of pages</p>
        <p>the menu structure looks like this:</p>
        <table class="table" style="width:450px">
            <tr>
                <th>Level 0</th>
                <th>Level 1</th>
                <th>Level 3</th>
            </tr>
            <tr>
                <td>Home</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Item 1</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>Item 1.1</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td class="active">Item 1.2</td>
                <td></td>
            </tr>
            <tr>
                <td>Item 2</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>Item 2.1</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>Item 2.2</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>Item 2.2.1</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>Item 2.2.2</td>
            </tr>
            <tr>
                <td></td>
                <td>Item 2.3</td>
                <td></td>
            </tr>
        </table>
    </section>
</template>
